[Desktop Entry]
Exec=trenchbroom
GenericName=Level editor
Comment=Level editor for Quake-derived engines
Icon=trenchbroom
Name=TrenchBroom
Terminal=false
Type=Application
Categories=Game;
Keywords=quake;level;map;editor;
